<p id="notice"><%= notice %></p>

<h1>Subway Stops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subway_stops.each do |subway_stop| %>
      <tr>
        <td><%= subway_stop.name %></td>
        <td><%= link_to 'Show', subway_stop %></td>
        <td><%= link_to 'Edit', edit_subway_stop_path(subway_stop) %></td>
        <td><%= link_to 'Destroy', subway_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subway Stop', new_subway_stop_path %>
