<p id="notice"><%= notice %></p>

<h1>Attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stop</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Recs</th>
      <th>Directions</th>
      <th>Time campus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.stop_id %></td>
        <td><%= attraction.category_id %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.price %></td>
        <td><%= attraction.recs %></td>
        <td><%= attraction.directions %></td>
        <td><%= attraction.time_campus %></td>
        <td><%= link_to 'Show', attraction %></td>
        <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
